// base
=border-radius($r: 4px)
  -webkit-border-radius: $r
  -moz-border-radius: $r
  -ms-border-radius: $r
  -o-border-radius: $r
  border-radius: $r

// vender font
@font-face
  font-family: 'iABC Regular'
  font-style: normal
  font-weight: normal
  src: url(../fonts/iABC-Regular.eot?version=1.1)
  src: local('iABC Regular'), url(../fonts/iABC-Regular.woff?version=1.1) format('woff')

@font-face
  font-family: 'iABC SC Regular'
  font-style: normal
  font-weight: normal
  src: url(../fonts/iABC-SC-Regular.eot?version=1.1)
  src: local('iABC SC Regular'), url(../fonts/iABC-SC-Regular.woff?version=1.1) format('woff')

@font-face
  font-family: 'OFL Sorts Mill Goudy TT'
  font-style: normal
  font-weight: normal
  src: local('OFL Sorts Mill Goudy TT'), url(../fonts/OFLGoudyStMTT.woff) format('woff')

@font-face
  font-family: 'OFL Sorts Mill Goudy TT'
  font-style: italic
  font-weight: normal
  src: local('OFL Sorts Mill Goudy Italic TT'), url(../fonts/OFLGoudyStMTT-Italic.woff) format('woff')

=ofl-font()
  font-family: 'OFL Sorts Mill Goudy TT', serif
  font-weight: 200

$black: #111111
