{% extends "layout.html" %}
{% block content %}
<div class="meta">
  <a href="{{root}}/" class="blog-name">
    <h1>{{blog.name}}</h1>
  </a>
  <h2>{{blog.description}}</h2>
</div>
<span class="symbol">Ð</span>
<div class="posts">
{% for post in page.posts %}
<div class="item">
  <a class="title" href="{{root}}/post/{{post.name}}.html" title={{post.title}}>{{post.title}}</a>
  <span class="date">{{post.datetime.strftime("%b  %d, %y")}}</span>
</div>
{% endfor %}
<div class="paging">
{% if page.first == False %}
  <a class="prev" title="Previous Page" href="{%if page.number == 2%}/{%else%}{{root}}/page/{{page.number-1}}.html{%endif%}"> < </a>
{%endif%}
{% if page.last == False %}
  <a class="next" title="Next Page" href="{{root}}/page/{{page.number+1}}.html"> > </a>
{%endif%}
</div>
</div>
{% endblock %}
